body {
    background: #fff url(image.png) no-repeat;
}
.container {
  background-color: #39B0A2;
    height: 1420px;
    margin: 0 0;
    width: 960px;
}
.container .content {
    background-color: #39B0A2;
        height: 800px;

}

.container .horizon {
    background-color: #0A6359;
    height: 300px;
   
}

.container .footer {
    background-color: #383838;
    height: 500px;
}

.container .below {
    background-color: #996633;
    height: 300px;
}
